/* src/css/KeyBoard.css */
.keyboard {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.key {
  margin: 0.2rem;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 1.2rem;
  border: 0.1rem ridge black;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: white;
}

.incorrect {
  background-color: grey;
}

.key:hover {
  background-color: #f0f0f0;
}

.key:active {
  background-color: #ddd;
}

@media (max-width: 975px) {
  .key {
    width: 3rem;
  }
}

@media (max-width: 550px) {
  .key {
    width: 2.5rem;
  }
}

@media (max-width: 470px) {
  .key {
    width: 2rem;
    height: 3.5rem;
  }
}
